################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs/BuildScreen/v15/Server/sqlite3
